/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');


body, html {
	padding: 0px;
	margin: 0px;
}

html {
	background-image: url("https://wallpapercave.com/wp/wp4465115.jpg");
	background-attachment: fixed; /* continuous background */

}

.title {
	font-family: 'Shrikhand', cursive;
/*	font-family: 'Titan One', cursive;*/
	font-size: 80px;
	margin-top: 50px;
	margin-bottom: 15px;
/*	background: -webkit-linear-gradient(#F2D0D7, #DED5F2, #ACD7F2, #C1D9CB, #F2EAD0);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	filter: drop-shadow(0 0 0.75rem gray);*/
}

/* for all titles */
.title, .dTitle, .cTitle, .mTitle {
	background: -webkit-linear-gradient(#F2D0D7, #DED5F2, #ACD7F2, #C1D9CB, #F2EAD0);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
	filter: drop-shadow(0 0 0.75rem gray);

}

.hCaption {
	font-family: 'Manjari', sans-serif;
	margin: 0px;
	font-size: 30px;
	opacity: 40%;
	filter: drop-shadow(0 0 0.75rem gray);


}

.credits {
	font-family: 'Manjari', sans-serif;
	font-size: 10px;
	margin-top: 100px;


}

.title, .hCaption, .credits{
	text-align: center;
}

.navRow {
	margin-left: 50px;
	padding: 50px;
}

.navImg {
	width: 50%;
	margin-left: 100px;
}

.navImg:hover {
	transform: translate(0px, -10px);
}

.column {
	display: inline-block;
	width: 32%;
}


.cSubtitle {
	font-family: 'Manjari', sans-serif;
	font-size: 20px;
	vertical-align: middle;
	text-align: center !important;
}


/* diet section */
.navbar {
	background-image: url("https://wallpapercave.com/wp/wp4465115.jpg");
	padding: 5px;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

ul {
	list-style-type: none;
	padding: 30px;
	margin-left: 30px;
}

li {
	display: inline;
	text-align: center;
	font-family: 'Manjari', sans-serif;
	font-size: 20px;
	margin-right: 50px;
}

#navLink, #navLink:visited {
	text-decoration: none;
	color: #566573;

}


#navLink:hover {
	padding: 10px;
	background-image: url("https://wallpapercave.com/wp/wp4465115.jpg");
	color: black;
	font-weight: bolder;
	border-radius: 10px;

}

#navLink.page {
	font-weight: 900;
	color: black;
}

.dRow {
	text-align: center;
	margin-top: 2rem;
}

.dColumnOne {
	display: inline-block;
	width: 22.5%;
}

.dColumnTwo {
	display: inline-block;
	width: 30%;
}

.dTitle {
	margin-top: 8rem;
	margin-bottom: 0px;
	text-align: center;
	font-family: 'Shrikhand', cursive;
	font-size: 50px;
}

.dSubtitle {
	margin-left: 2rem;
	margin-right: 2rem;
	font-family: 'Manjari', sans-serif;
	text-align: justify;

}

.dImg{
	margin-left: 2rem;
	margin-right: 2rem;
	width: 80%;
	aspect-ratio: 1/1;
}


/* controlled life section */
.cTitle {
	margin-top: 8rem;
	font-size: 50px;
	font-family: 'Shrikhand', cursive;
	text-align: center;

}

.cSubtitle {
	font-family: 'Manjari', sans-serif;
	text-align: justify;
}

.cColumnOne {
	display: inline-block;
	margin-left: 25%;
}

.cColumnTwo {
	margin-left: 25%;
	width: 50%;
	text-align: center;
}

.cImg {
	object-fit: cover;
	width: 40%;
	aspect-ratio: 1/1;
}

.cImgTwo {
	width: 70%;
}

#ban {
	margin-left: 22%;
}

/* minors */
.mTitle {
	margin-top: 8rem;
	font-size: 50px;
	font-family: 'Shrikhand', cursive;
	text-align: center;

}

.mColumnOne {
	display: inline-block;
	width: 30%;
	margin-left: 20%;
	margin-right: 2rem;
}

.mColumnTwo {
	display: inline-block;
	width: 30%;
}

.mImg {
	width: 95%;
	aspect-ratio: 1/1;
}

.mSubtitle {
	font-family: 'Manjari', sans-serif;
	text-align: justify;
}


