/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manjari&display=swap');


body, html {
	padding: 0px;
	margin: 0px;
	background-image: url("https://wallpapercave.com/wp/wp4465115.jpg");
	background-repeat: no-repeat;
}

.title {
	font-family: 'Shrikhand', cursive;
/*	font-family: 'Titan One', cursive;*/
	font-size: 80px;
	margin-top: 50px;
	margin-bottom: 15px;
}

.hCaption {
	font-family: 'Manjari', sans-serif;
	margin: 0px;
	font-size: 30px;
}

.title, .hCaption{
	text-align: center;
}

.navRow {
	margin-left: 50px;
	padding: 50px;
}

.navImg {
	width: 50%;
	margin-left: 100px;
}

.navImg:hover {
	transform: translate(0px, -10px);
}

.column {
	display: inline-block;
	width: 32%;
}


.cSubtitle {
	font-family: 'Manjari', sans-serif;
	font-size: 20px;
	vertical-align: middle;
	text-align: center;
}


/* diet section */
.navbar {
	background-image: url("https://wallpapercave.com/wp/wp4465115.jpg");
	padding: 5px;
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
}

ul {
	list-style-type: none;
	padding: 30px;
	margin-left: 30px;
}

li {
	display: inline;
	font-family: 'Manjari', sans-serif;
	font-size: 35px;
	margin-right: 50px;
}

#navLink, #navLink:visited {
	text-decoration: none;

}

#navLink:visited {
	color: black;
}


#navLink:hover {
	padding: 10px;
	background-color: #F1F1F1;
	border-radius: 10px;

}

#navLink.page {
	font-weight: 900;
}

.dTitle {
	margin-top: 10rem;
	background-image: none;
	text-align: center;
	font-family: 'Shrikhand', cursive;
	font-size: 50px;


}
